body {
  font-family: monospace;
  background-image: url("https://cdn.glitch.global/abf81d9e-7e7c-433c-bbe5-6efa062741ce/Elleboogverband.jpg?v=1739787687490");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: #D5CFCF;
}

#square {
  background: #525257;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: help;
}

.yellow {
  background: #525257;
  padding: 10px;
  transition: 1s;
}