body {
  font-family: monospace;
  background: white;
  height: 100vh;
  
}

#square {
  background: #525257;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: help;
}

.yellow {
  background: #525257;
  padding: 10px;
  transition: 1s;
}