body {
  font-family: monospace;
  background: lightblue;
  height: 100vh;
}

#square {
  background: red;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
