body {
  font-family: monospace;
  background: lightblue;
  height: 100vh;
}

#square {
  background: red;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: help;
}

.yellow {
  background: yellow;
  padding: 10px;
  transition: 1s;
}

body.dark {
  background: purple;
  color: white;
}

body.dark #square {
  background: lightblue;
}

body.dark .yellow {
  background: tomato;
  padding: 50px;
}