body {
  font-family: monospace;
  background-image: url("https://cdn.glitch.global/abf81d9e-7e7c-433c-bbe5-6efa062741ce/Asset%201.png?v=1739789328777");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: #525257;
  animation: backgroundAnimation 5s linear infinite; /* Faster animation */
}

/* Define the keyframes for downward animation */
@keyframes backgroundAnimation {
  0% {
    background-position: center top; /* Start at the top */
  }
  100% {
    background-position: center bottom; /* End at the bottom */
  }
}

.yellow {
  background: #D5CFCF;
  padding: 10px;
  transition: 1s;
}
